<h1>About Gistill</h1>
<p>
The traditional publishing cycle is often too long to create relevant books on cutting edge topics such as technology, politics, economics and medical research.  In today's fast paced world, books are often out-of-date by the time they hit the shelves at the book store.  The web has current information about quickly changing topics, but it's often disjointed and the good information is often hidden by junk or propaganda.
</p>
<p>
Imagine reading a book about the Arab spring that includes current information about the situation in Syria, as well as background information on the relevant players and the history of the region, organized in a methodical way.  Imagine an economics professor emailing his students a link to an eBook about the European financial crisis, its relationship to the American housing crisis, and the relevant Keynsian theory that world leaders are using to address these issues.  That's the vision behind Gistill.
</p>
<p>
The goal of Gistill is to empower people to collect free content from all over the web and organize it into a comprehensive book on a particular topic.  Just enter a list of links, Gistill will extract the content from them, and put them into a single eBook in the order you defined.  These books should be shared with others on the web via Facebook, Twitter, blogs and email.  Finally, books can be revised to stay current by removing links to outdated information, and replacing them links to more current information.
</p>
