<div class="nexus">
  <h1 style="color: #0064CD">jistill</h1>
  <h3>eBooks on the fly</h3>
  <p class="nexus_signup">
    <input type="submit" class="btn large primary" value="Get Started" onclick="window.location = '/signup'">
  </p>
</div>

<div class="row">
<!-- border: 1px solid; -->
  <div class="span-one-third home_box">
    <h2>Use Content From The Web</h2>
    <p>
      Put in a list of links and Jistill will extract the content and produce an eBook for you instantly!
    </p>
  </div>
  <div class="span-one-third home_box">
    <h2>Read It On Your iPad</h2>
    <p>
      Organize your links into chapters so it flows like a good book, and read it on your iPad or Kindle!
    </p>
  </div>
  <div class="span-one-third home_box">
    <h2>Share Your eBook With Others</h2>
    <p>
      Your hand-picked links represent time spent researching. Why not save others time by sharing?
    </p>
  </div>
</div>
