<script language="javascript">
  $(document).ready(function() {
    var chapterTemplate = '<div class="chapter">Chapter %N<br/><div class="clearfix"><label for="chapters_%N_author">* Author</label><div class="input"><input class="xlarge required" id="chapters_%N_author" name="chapters[%N[author]]" size="30" type="text" value="" /></div></div><!-- /clearfix --><div class="clearfix"><label for="chapters_%N_url">* URL</label><div class="input"><input class="xlarge url required" id="chapters_%N_url" name="chapters[%N[url]]" size="30" type="text" value="http://" /></div></div><!-- /clearfix -->'
    $('.add-chapter').click(function() {
      var chapterNumber = ($('.chapter').length + 1).toString()
      $('#chapters').append(chapterTemplate.replace(/%N/g, chapterNumber));
      $('#save_button')[0].disabled = false;
    });
  });
</script>
<%= form_tag :action => "create" do %>
<fieldset>
          <legend>Create an eBook</legend>
<!--
<div class="chapter">Chapter %N<br/>* Author: <input type="text" name="chapters[%N[author]]" value="" /><br/>* URL: <input type="text" name="chapters[%N[url]]" value="http://" /><br/><br/></div>
-->


          <div class="clearfix">
            <label for="book_title">* Title</label>
            <div class="input">
              <input class="xlarge required" id="book_title" name="book[title]" size="30" type="text" value="" />
            </div>
          </div><!-- /clearfix -->
  <div id="chapters">
  </div>
  <p>
    <a href="#" class="add-chapter">Add Chapter</a>
  </p>
          <div class="actions">
            <input type="submit" id="save_button" class="btn primary" value="Create eBook!" disabled="true" />
          </div>
</fieldset>
<% end %>
