<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
          <div class="clearfix">
            <label for="user_email">* Email</label>
            <div class="input">
              <input class="xlarge email required" id="user_email" name="user[email]" size="30" type="text" value="" />
            </div>
          </div><!-- /clearfix -->

          <div class="clearfix">
            <label for="user_password">* Password</label>
            <div class="input">
              <input class="xlarge required" id="user_password" name="user[password]" size="30" type="password" value="" />
            </div>
          </div><!-- /clearfix -->

  <% if devise_mapping.rememberable? -%>
    <div class="clearfix">
      <%= f.label :remember_me %>
      <div class="input">
        <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end -%>

          <div class="actions">
            <input type="submit" class="btn primary" value="Sign in">
          </div>
  </fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
